<div id="left-column-div">
  <div id='document-list'>
    <h1 class="left-column-title"> LISTE DES DOCUMENTS </h1>
    <div class="block">
      <h2 id="strate-institutionnelle"> INSTITUTIONNEL </h2>
      <div id="institutional" class="doc list">
          <ul>
          </ul>
      </div>
    </div>
    <div class="block">
      <h2 id="strate-materielle"> MATÉRIEL </h2>
      <div  id="material" class="doc list">
          <ul>
          </ul>
      </div>
    </div>
    <div class="block">
      <h2 id="strate-culturelle"> CULTUREL </h2>
      <div  id="cultural" class="doc list">
          <ul>
          </ul>
      </div>
    </div>
  </div>
  
  <div id='types-of-event'>
      <h1 class="left-column-title"> TYPE D'ÉVENEMENTS </h1>
      <div class="types list">
          <ul>
          </ul>
      </div>
  </div>
  
</div>
