<div class="work-title" id="work-title">
    <div class="workImageDiv">
        <img class="workImage" [src]="this.imageUrl" alt="">
    </div>
    <div class="workIdAndTitle">
        <div class="workId">
            {{work_of_art_name_id}}
        </div>
        <div class="workTitle">
            {{titre}}
        </div>
    </div>
    <div>
        <div id="btnChronoHi" class="changeDataVizBtn" (click)="changeDataViz()">Vue Hiérarchique</div>
    </div>

</div>

<!-- <span> Image : {{imageUrl}} </span> -->