.work-title{
    height:13vh;
    font-family:Roboto;
    color:#FF775C;
    display:flex;
    align-items:center;
}

.workImageDiv{
    display:flex;
    align-items:center;
    margin-left:30px;
    margin-right:30px;
    height:100%;
}

.workImage{
    max-height:80%;
    width:auto;
}

.workIdAndTitle{
    font-size:1.5em;
}

.workId{
    font-weight:600;
    padding-bottom:5px;
}

.workTitle{
    padding-top:5px;
}

.changeDataVizBtn{
    background-color:#E16952;
    color:#EDEAD0;
    font-weight:500;
    border-radius:10px;
    padding:10px;
    cursor:pointer;
    margin-left:30px;
  }

  .changeDataVizBtn:active{
    background-color:#ac4f3c;
    box-shadow: 0 3px #666;
    transform: translateY(3px);
  }