<div class="document-zoom-hi">
    <div class="document-zoom-hi-flex">
        <div (click)="closeDocumentZoom()" class="documentZoomClose">
            <!--<img src="assets/img/highlight_off_black_36dp.svg" alt="">-->
        </div>

        <div class="documentZoomData">
            <div class="docTitle">
            
            </div>
            <div class="docArkDiv">
                <div class="docDataName">
                    Ark
                </div>
                <div class="docData docArk">

                </div>
            </div>

            <div class="docTypeDiv">
                <div class="docDataName">
                    Type de document
                </div>
                <div class="docData docType">

                </div>
            </div>

            <div class="docAuthorsDiv">
                <div class="docDataName">
                    Auteurs
                </div>
                <div class="docData docAuthors">

                </div>
            </div>

            <div class="docDateDiv">
                <div class="docDataName">
                    Date inscription au dossier
                </div>
                <div class="docData docDate">

                </div>
            </div>
        </div>
        <div class="documentZoomImg">
            <img class="docImg" alt="">
        </div>
    </div>
</div>


